@import '../../styles/general';

.file-upload-container {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  position: relative;

  .hint{
    color: #999;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
    width: 100%;
    text-align: center;
    float: left;
    clear: both;
  }

  .error{
    color: red;
    font-size: 12px;
    border-top: solid 2px red;
    margin-top: 10px;
    display: block !important;
  }

  .error-message{
    font-size: 12px;
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 25px 10px 15px;
    opacity: .95;
    border-radius: 3px;
    z-index:10;
    .message-closeIcon{
      position: absolute;
      top: 0px;
      right: 5px;
      cursor:pointer;
    }
  }

  &>div.dropZoneContainer{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    display: table;
    min-height:100px;


    .dropZoneElement{
      @include border_radius(3px);
      /*text-transform: uppercase;*/
      font-size: 14px;

      border-width: 2px;
      border-style:dashed;
      border-color: #999;
      padding: 10px;
      font-weight: 400;
      font-size: $smFont;
      width: 100%;
      cursor:pointer;
      display: table-cell;
      vertical-align: middle;

      &:hover{
        background-color: #FAFAFA;
        border-style:solid;
      }

      img{
        max-width: 100%;
        max-height: 100%;
      }

      ul{
        margin:0px;
        padding: 0px;
        max-height:100%;
        width:100%;

        &.multiple-file{
          overflow: auto;
        }
        &.single-file{
          li{
            .file-deleteIcon,
            .file-downloadIcon{
                position: absolute;
                display: block;
                top: 8px;
                right: 8px;
                background-color: #FFF;
                border:solid 1px #EEE;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                z-index:9;
            }
            .file-downloadIcon{
              top: 34px;

              &:hover{
                border-color:$adistecBlue;
              }
            }
            .preview-filename{
              strong{
                margin-top: 6px;
                display: block;
                font-weight: 400;
                color: #666;
                padding: 0px 10px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

          }
        }

        li{
          display: table;
          table-layout: fixed;
          width:100%;

          &:not(:last-child){
            padding-bottom: 5px;
            border-bottom: solid 1px #DDD;
          }
          &:not(:first-child){
            padding-top: 5px;
          }

          .file-name,
          .file-size,
          .file-downloadIcon,
          .file-deleteIcon{
            display:table-cell;
            vertical-align:middle;
          }

          .file-name{
            width: auto;
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-align: left;
            white-space: nowrap;
          }
          .file-size{
            width:30%;
            text-align: right;
          }
          .file-downloadIcon,
          .file-deleteIcon{
            width:10%;
          }

          i:hover{
            opacity: 0.5;
          }
          i.fa-file-text-o:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  .fa-file-o.lg-size{
    font-size:60px;
    color:#666666;
  }

  /*
  .clear-button{
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 10px;

    button{
      color:#666;

      &:hover{
        color:$adistecLightBlue;
      }
    }
  }
  */

}