@import '../../styles/general';

.adistec-sort-by-component{
  position: relative;

  button{
    top:10px !important;
    fill:#CCC !important;
    @include transitionAll;

    &:hover{
      fill:$adistecBlue !important;
    }
  }

  .clear-button{
    margin-top: 29px;
    height: 50%;
    position: absolute;
    right:10px;
    top:0px !important;
    color:#CCC;
    cursor:pointer;
    font-size:12px;
    z-index: 7;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &:hover{
      color:$adistecBlue;
    }
  }

  .Select{
    .Select-control{
      margin-top: 21px;
      border: none;
      border-bottom: 1px solid rgb(224, 224, 224);
      border-radius: 0px;
      height: 33px;

      .Select-value,
      .Select-placeholder{
        padding-left:0px;
      }
    }
    .Select-input{
      height: 32px;
      padding-left:0px;
    }
    .Select-clear{
      font-size:0px;

      &:before{
        content: "\f00d";
        font-size: 12px;
        font-family: 'FontAwesome';
        color:#CCC;
      }

      &:hover:before{
        color:$adistecBlue;
      }
    }
    .Select-arrow {
      border-color: #CCC transparent transparent;

      &:hover{
        border-color: $adistecBlue transparent transparent;
      }
    }
    .Select-menu-outer{
      z-index: 9;
    }
    &.is-focused,
    &.has-value{
      .Select-control{
        box-shadow: none;
        border-bottom: solid 2px $adistecBlue;

        .Select-placeholder{
          display:none;
        }
      }
      & + .helper-placeholder{
        transform: scale(0.75) translate(0px, -28px);
        display:block;
      }
    }
    &.is-open{
      .Select-arrow {
        border-color: transparent transparent #CCC;

        &:hover{
          border-color: transparent transparent $adistecBlue;
        }
      }
    }
    .has-value{
      .Select-control{
        border-bottom: 2px solid $adistecBlue;
      }
    }
  }

  .helper-placeholder{
    position: absolute;
    line-height: 22px;
    top: 27px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
    display:none;
  }

}