@import '../../styles/general';

.filter-container{

  margin-bottom: 15px;

  button.viewless{
    &:hover{
      .hover-icon {
        font-family: 'FontAwesome';
        margin-right: 3px;

        &:before {
          content: "\f0fe";
        }
      }
    }
  }
  &.open{
    button.viewless{
      &:hover{
        .hover-icon {
          font-family: 'FontAwesome';
          margin-right: 3px;

          &:before {
            content: "\f146";
          }
        }
      }
    }
  }
}

.filter-group{
  @include card_styled(#FFFFFF);
  padding:17px 20px 20px 20px;
  float: left;
  width:100%;

  &.open{
    height:auto;
  }
  &.hidden{
    height:0px;
    padding:0px;
    display: none;
  }

  .separator-h{
    float: left;
    width: 110%;
    box-shadow: inset 1px 3px 9px -7px;
    height: 10px;
    margin-left: -10px;
    margin-right: 0;
    margin-top: 5px;
  }
}

h5.title {
  margin: 10px 0px 10px 0px;
  font-weight: normal;
  font-size: 16px;
  color: #999;

  strong{
    margin-right: 10px;
  }

  & + .row{
    margin-top:20px;
  }

  .title-buttons{
    float:right;

    &.hidden{
      display:none;
    }

    .btn-coloredbg{
      @include buttonSizeSm;
    }
  }
}

