@import '../../styles/general';

.a--banner_container{
  margin-top:15px !important;

  @include md(){
    margin-top:25px !important;
  }

  img{
    max-width:100%;
    margin:0 auto;
  }
}


ul.slick-dots {
  bottom: 5px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);

  li{

    button{
      background: $adistecBlue;
      height: 10px;
      border-radius: 99px;
      width: 10px;
      padding: 0px;
      transition: width 250ms ease;
      border: solid 2px #FFF;
      margin:0 auto;

      &:before{
        display:none;
      }
    }
    &.slick-active button{
      width:24px;
    }
  }
}
